<div class="row justify-content-center">
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="card border-info shadow">
      <div class="card-body">
        <form ngNativeValidate #bookForm=ngForm class="submit-form">
          <div *ngIf="!submitted">
            <div class="form-group">
              <label for="name">book's full name</label>
              <input type="text" class="form-control" id="name" required [(ngModel)]="book.title" name="name"/>
            </div>

            <div class="form-group mt-2">
              <label for="price">price</label>
              <input type="text" class="form-control" id="price" required [(ngModel)]="book.price" name="price"/>
            </div>

            <div class="form-group mt-2">
              <label for="year">year</label>
              <input type="text" class="form-control" id="year" required [(ngModel)]="book.year_of_publishing" name="year"/>
            </div>

            <div class="form-group mt-2">
              <label for="image">image</label>
              <input type="text" class="form-control" id="image" required [(ngModel)]="book.image" name="image"/>
            </div>


              <label for="publisher">publisher</label>
              <ng-select (change)="print()" [items]="publishers" bindLabel="publisher" id="publisher" name="publisher"
                         placeholder="Select publisher"
                         appendTo="body" [multiple]="false" [(ngModel)]="book.publisher">
              </ng-select>


              <label for="genre">Author's book genres</label>
              <ng-select bindLabel="genre" id="genre" name="genre"
                         placeholder="Select genres"
                         appendTo="body" [multiple]="true" [(ngModel)]="selected_genres">
                <ng-option [value]="item" *ngFor="let item of db_genres">
                  {{item.name}}
                </ng-option>
              </ng-select>

              <label for="genre">Author's </label>
              <ng-select bindLabel="author" id="author" name="author"
                         placeholder="Select author"
                         appendTo="body" [multiple]="true" [(ngModel)]="selected_authors">
                <ng-option [value]="item" *ngFor="let item of db_authors">
                  {{item.name}}
                </ng-option>
              </ng-select>


            <button (click)="saveBook()" class="btn btn-sm float-end btn-success mt-3"
                    [disabled]="bookForm.invalid"><i
              class="bi bi-person-check-fill"></i> Submit
            </button>
          </div>

          <div *ngIf="submitted">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Tutorial was submitted successfully!</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <button class="btn btn-sm float-end btn-primary" (click)="newBook()"><i
              class="bi bi-person-plus-fill"></i> Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

